spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/users
    username: postgres
    password: postgres

management:
  otlp:
    metrics:
      export:
        url: http://otel-collector:4318/v1/metrics
        step: 10s
    tracing:
      endpoint: http://otel-collector:4318/v1/traces
