apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka
  namespace: ecommerce
spec:
  selector:
    matchLabels:
      app: eureka
  template:
    metadata:
      labels:
        app: eureka
    spec:
      containers:
        - name: eureka
          image: {{ .Values.image }}
          ports:
            - containerPort: {{ .Values.port }}
