apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: ecommerce
spec:
  type: NodePort
  ports:
    - port: 8080
      nodePort: 30080
  selector:
    app: notification-service
