apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service
        image: aayush595/user-service:4.0
        ports:
        - containerPort: 8081

        # ========= Environment =========
        env:
        - name: JAVA_OPTS
          value: "-Xms256m -Xmx512m"

        # ---- Eureka Config ----
        - name: EUREKA_CLIENT_REGISTER_WITH_EUREKA
          value: "true"
        - name: EUREKA_CLIENT_FETCH_REGISTRY
          value: "true"
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: "http://eureka-service:8761/eureka"

        # ---- Load Config From K8s ----
        envFrom:
        - configMapRef:
            name: user-service-config
        - secretRef:
            name: user-service-secret

        # ========= Resources =========
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"

        # ========= Probes =========
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8081
          initialDelaySeconds: 40
          periodSeconds: 15
          timeoutSeconds: 3
          failureThreshold: 10

        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8081
          initialDelaySeconds: 60
          periodSeconds: 20
          timeoutSeconds: 3
          failureThreshold: 10

